apiVersion: v1
kind: Service
metadata:
  name: argo-testing
  labels:
    app: argo-testing
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: argo-testing
